#bloque121 {
    background-image: url("../../assets/imagenes/tw1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
  }

  #blocktext{
    background-color:rgba(0, 0, 0, 0.377);
    margin-bottom: 10%;
  }