<div id="bloque121" class="jumbotron jumbotron-fluid pt-5">
  <div id="blocktext" class="container pb-2">
      <h1 id="d3text" class="display-3 text-light">Fluid jumbo heading</h1>
      <p class="lead text-light">Jumbo helper text</p>
      <hr class="my-2">
      <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolores? Non obcaecati minima voluptatibus molestiae eum nisi placeat saepe veritatis.</p>
      <p class="lead">
          <a id="jumbtn1" class="btn btn-light btn-lg" href="#carouselId" role="button">back to Top</a>
      </p>
  </div>
</div>