#dropdowncolor1:hover{background-color: #ffe601; color: black;}
#dropdowncolor2:hover{background-color: #f10808; color: white;}
#dropdowncolor3:hover{background-color: #0463f1; color: white;}
#dropdowncolor4:hover{background-color: #000000; color: white;}

.nav-transition-color{
    transition: all 0.5s ease;
  }