<footer id="footer" class="py-1 bg-dark text-white rounded-top">
  <div class="container">
      <div class="row py-3">
          <div class="col-4">
              <p> <a href="#">Lorem ipsum </a> dolor sit amet consectetur adipisicing elit. Architecto, sed.</p>
          </div>
          <div class="col-4"></div>
          <div class="col-4 ">
              <div class="">
                  <a id="btnfooter" class="btn btn-outline-light btn-lg " href="#carouselId" role="button">back to Top</a>
              </div>
          </div>
      </div>
  </div>   
</footer> 