

<div class="container ">
  <div class="row">  
      <div class="col-12 col-md-6 py-5">

          <div id="accordion">
              <div class="card">
              <div class="card-header bg-dark" id="headingOne">
                  
                  <button id="acordeonBtn1" class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Collapsible Group Item #1
                  </button>
                  
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
              </div>
              </div>

              <div class="card">
              <div class="card-header bg-dark" id="headingTwo">
                  <h5 class="mb-0">
                  <button id="acordeonBtn2" class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Collapsible Group Item #2
                  </button>
                  </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
              </div>
              </div>

              <div class="card">
              <div class="card-header bg-dark" id="headingThree">
                  <h5 class="mb-0">
                  <button id="acordeonBtn3" class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Collapsible Group Item #3
                  </button>
                  </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
              </div>
              </div>

          </div>

      </div>
      <div class="col-12 col-md-6 py-5">
          <div class="card">
              <img id="imagenC" class="card-img-top" src="../../assets/imagenes/tw1.jpg" alt="">
                  <button id="elementohidden2" type="hidden" class="dark"></button>
                  <button id="elementohidden" type="hidden" class="bg-dark"></button>
                  <div class="list-group">
                      <button id="bt1h" type="button" onclick="cambiarimagen1(bt1h)" class="hbuttonDark list-group-item list-group-item-action bg-dark">Image 1</button>
                      
                      <button id="bt2h" type="button" onclick="cambiarimagen2(bt2h)" class="hbuttonDark list-group-item list-group-item-action"> Imagen 2</button>
                      
                      <button id="bt3h" type="button" onclick="cambiarimagen3(bt3h)" class="hbuttonDark list-group-item list-group-item-action">Imagen 3</button>
                      
                      <button id="bt4h" type="button" onclick="cambiarimagen4(bt4h)" class="hbuttonDark list-group-item list-group-item-action">Imagen 4</button>
                      
                      <button id="bt5h" type="button" onclick="cambiarimagen5(bt5h)" class="hbuttonDark list-group-item list-group-item-action">Imagen 5</button>
                  </div>
             
          </div>
      </div>
  </div>  
</div>