.hbuttonWarning:hover {
    background-color: #ffe601;
    color: black;
  }
.hbuttonDanger:hover {
  background-color: #f10808;
  color: white;
}
.hbuttonPrimary:hover {
  background-color: #0463f1;
  color: white;
}
.hbuttonDark:hover {
  background-color: #000000;
  color: white;
}