<br>
<br>
<div class="container p-5 my-5 bg-tranparecia-personalizada">
  <div class="row my-4">
    <div class="col-12 col-md-6">
      <img src="../../assets/imagenes/pablo.jpg" class="img-thumbnail rounded" alt="">
    </div>
    <div class="col-12 col-md-6 text-dark">
      <h1>Conocé más de mi entrando a :</h1>
      <a href="https://github.com/polijt223" target="_blank">
        <img src="../../assets/imagenes/github.png" width="100%" alt="">
      </a>
      <a href="https://www.linkedin.com/in/pablo-joel-tulian-b9873ab2" target="_blank">
        <img src="../../assets/imagenes/linkedin.png" width="100%" alt="">
      </a>
    </div>    
  </div>
  <div class="row">
    <div class="col-12 text-dark">
      <p class="h1">Si buscas este proyecto en mi GitHub esta como privado...</p>
      <p class="h1">Agregame a LinkedIn para que te lo comparta!! :D!</p>
    </div>
  </div>
</div>
